# temps
__pycache__/
.ipynb_checkpoints/

finetuning_example.ipynb

# irrelevant
/__alt__/
/__info__/*
!/__info__/Classifier-models.xlsx

# training data
dataset/*
!dataset/_raw/
dataset/_raw/*
!dataset/_raw/example-dataset-url.txt

# trained models
/checkpoints/
